.profil_page {
  width: 95%;
  margin: 2%;
  @media screen and (max-width: 768px) {
    margin-left: 4%;
  }
  &_user_name {
    width: 95%;
    margin-left: 5%;
    font-size: 20px;
    border: 2px solid $clr_tertiary;
    border-radius: 20px;
    box-shadow: 2px 2px 5px $clr_tertiary;
    background: $clr_secondary;
    text-align: center;
    @media screen and (max-width: 992px) {
      font-size: 15px;
    }
    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }

  &_container {
    width: 93%;
    height: auto;
    margin: 2% 0 0 5%;
    padding: 10px;
    border: 2px solid $clr_tertiary;
    border-radius: 20px;
    box-shadow: 2px 2px 5px $clr_tertiary;
    position: relative;
    top: 50%;
    background: $clr_secondary;
    @media screen and (max-width: 992px) {
    }
    @media screen and (max-width: 768px) {
      width: 90%;
    }

    &_user {
      margin-top: 5%;
      display: flex;
      justify-content: space-around;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      & > h2 {
        font-size: 15px;
      }
    }

    &_bio {
      margin-top: 5%;
      display: flex;
      justify-content: space-around;
      
      & > h2 {
        margin-right: 10px;
        word-wrap: break-word;
      }
      @media screen and (max-width: 992px) {
        margin-left: 5%;
      }
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      &_text {
        font-size: 25px;
        font-weight: bold;
        color: $clr_primary;
        word-wrap: break-word;
        width: 300px;
        height: auto;
        margin: 2%;

        @media screen and (max-width: 768px) {
          width: 95%;
          height: auto;
        }
      }

      &_btn {
        width: 100px;
        margin-top: 15%;
        position: relative;
        right: 45%;
        @media screen and (max-width: 768px) {
          left: 0;
        }
      }
    }
    .icon {
      width: 70px;
      height: 70px;
      display: flex;
      
      @media screen and (max-width: 768px) {
        width: 60px;
      }
    }

    .label-file-upload {
      cursor: pointer;

  
      @media screen and (max-width: 768px) {
        margin-left: 30%;
      }
    }

    .file-upload {
      display: none;
      width: 70px;
    }

    img {
      height: 300px;
      border-radius: 20px;

      @media screen and (max-width: 768px) {
        margin: 10% 1% 0 5%;
        height: auto;
        width: 80%;
      }
    }
  }
  .post_form {
    border: none;
    background: $clr_tertiary;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
  }
}
