$clr_primary: #fd2d01;
$clr_secondary: #ffd7d7;
$clr_tertiary: #4e5166;

* {
  font-family: 'Lato', sans-serif;
  background-repeat: no-repeat;
  //text-align: center;
  &::selection {
    background-color: $clr_primary;
    color: $clr_tertiary;
  }
}


a,
a:visited {
  color: $clr_tertiary;
  text-decoration: none;
}
input,
textarea {
  resize: none;
  border-radius: 20px;
  width: auto;
  background: $clr_secondary;
  height: 30px;
  font-size: 25px;
}
textarea {
  &:focus {
    box-shadow: 0 0 4px rgba(0, 22, 44, 0.1);
  }
}
button,
input[type='submit'] {
  height: 50px;
  background: $clr_primary;
  color: $clr_secondary;
  cursor: pointer;
  transition: 0.2s;
  margin: 1%;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px 6px 20px 20px;

  @media screen and (max-width: 992px) {
    margin-left: 5%;
  }
  @media screen and (max-width: 768px) {
    width: 100px;

  }
}
input[type='checkbox'] {
  box-shadow: none;
  width: 20px;
  margin: 10px 0;
}
i {
  transition: 0.15s;

  &:hover {
    transform: scale(1.1);
  }
}
body {
  font-family: $clr_secondary;
  line-height: 1.4rem;
  background: white;
  color: $clr_tertiary;
}
.error {
  color: red;
  font-weight: bold;
}
.success {
  color: green;
  font-weight: bold;
}
