.card_container {
  width: 87%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid $clr_secondary;
  margin: 2% 1% 1% 5%;
  padding: 3%;
  border-radius: 20px;
  box-shadow: 1px 1px 10px $clr_tertiary;
  font-size: 20px;
  background-color: $clr_secondary;


  @media screen and (max-width: 768px) {
    width: 80%;
    margin: 5% 20% 5% 10%;
  }

  &_ul {
    padding: 0;
  }

  &_post {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    background-color: $clr_secondary;
  }

  &_header {
    font-size: 20px;
  }

  &_left_post_img {
    width: 250px;
    height: 200px;
    border-radius: 20px;
    margin: 5%;

    @media screen and (max-width: 992px) {
      width: 200px;
      height: 150px;
    }
    @media screen and (max-width: 768px) {
    }
  }
  &_message {
    width: 500px;
    font-size: 25px;
    color: $clr_primary;
    word-wrap: break-word;
  }

  &_img {
    
    border-radius: 5px;
    margin: 20% 2% 1% 70%;
  }

  &_footer {
    display: flex;
    flex-direction: row;
    margin: 1% 1% 0 40%;
  }

  &_send {
    width: 200px;
  }

  &_icon {
    display: flex;
    flex-direction: row;
    height: 100px;
    
    & > img {
      height: 40px;
      margin: 10px;

      @media screen and (max-width: 768px) {
        height: 30px;
        margin: 5px;
      }
    }
  }

  &_comment {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid $clr_secondary;
    margin: 90px 0 0 -400px;
    padding: 3%;
    border-radius: 20px;
    box-shadow: 1px 1px 10px $clr_tertiary;
    font-size: 20px;
    background-color: white;

    @media screen and (max-width: 992px) {
      margin: 15% 1% 0 -100%;
      width: 400px;
    }
    @media screen and (max-width: 768px) {
      margin: 25% 1% 0 -100%;
      width: 100%;
      
    }

    &_img {
      width: 200px;
      height: 150px;
      border-radius: 15px;
    }

    &_text {
      color: $clr_primary;
      margin-top: 10px;
    }

    &_footer{
      width: 100%;
      margin: 5% 1% 0 -100%;
    }
  }
  &_comment_textarea {
    width: 300px;
    height: 100px;
    margin: 15% 0 5% 0;
    color: $clr_primary;
    background-color: white;
    padding: 2%;
    box-shadow: 1px 1px 10px $clr_tertiary;

    @media screen and (max-width: 992px) {
      margin: 15% 1% 20% 20%;
    }

    @media screen and (max-width: 768px) {
      margin: 10% 1% 0 5%;
      width: 200px;
    }

    &_btn {
      @media screen and (max-width: 768px) {
        margin: 10% 1% 0 5%;
        width: 200px;
      }
    }

  }

  &_comment_edit_textarea{
    margin-left: -50%;
    @media screen and (max-width: 768px) {
     width: 150px;
    }

  }

  &_comment_edit_validation{
    margin-left: -40%;

    @media screen and (max-width: 768px) {
      width: 150px;
     }
  }

  .fa-spinner {
    position: absolute;
    top: 40%;
    left: 49%;
    font-size: 1.5rem;
    color: $clr_primary;
  }
}
