.card_container {
  width: 87%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid $clr_secondary;
  margin: 2% 1% 1% 5%;
  padding: 3%;
  border-radius: 20px;
  box-shadow: 1px 1px 10px $clr_tertiary;
  font-size: 20px;
  background-color: $clr_secondary;

  @media screen and (max-width: 992px) {
    width: 80%;
  }
  @media screen and (max-width: 768px) {
    width: 79%;
    margin: 5% 20% 5% 10%;
  }

  &_ul {
    padding: 0;
  }

  &_post {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    background-color: $clr_secondary;
  }

  &_header {
    font-size: 20px;
  }

  &_left_post_img {
    width: 25%;
    height: 25%;
    border-radius: 50px;
    margin: 5%;

    @media screen and (max-width: 992px) {
      width: 200px;
      height: 150px;
    }
    @media screen and (max-width: 768px) {
    }
  }
  &_message {
    width: 500px;
    font-size: 25px;
    color: $clr_primary;
    word-wrap: break-word;
  }

  &_img {
    width: 70%;
    border-radius: 5px;
    margin-right: 25%;
  }

  &_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;


    @media screen and (max-width: 992px) {
      margin: 1% 1% 0 40%;
      width: 200px;
    }
    @media screen and (max-width: 768px) {
      margin: 5% 0 0 50%;
     flex-direction: row;
    }
  }

  &_send {
    width: 200px;
  }

  &_icon {
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;

    @media screen and (max-width: 768px) {
      margin-left: 5%;
      height: 30px;
    }

    & > img {
      height: 40px;
      margin: 10px;

      @media screen and (max-width: 768px) {
        height: 30px;
        margin: 5px;
      }
    }
  }

  &_comment {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid $clr_secondary;
    margin: 90px 0 0 -400px;
    padding: 3%;
    border-radius: 20px;
    box-shadow: 1px 1px 10px $clr_tertiary;
    font-size: 20px;
    background-color: white;

    @media screen and (max-width: 992px) {
      margin: 15% 1% 0 -40%;
      width: 400px;
    }
    @media screen and (max-width: 768px) {
      margin: 25% 1% 0 -70%;
      width: 150px;
      
    }

    &_img {
      width: 50%;
      border-radius: 15px;
    }

    &_text {
      color: $clr_primary;
    }

    &_footer {
      width: 500px;
      position: relative;
      right: 70%;

      @media screen and (max-width: 768px) {
        margin: 10% 1% 0 5%;
        width: 200px;
      }
    }
  }
  &_comment_textarea {
    width: 52%;
    height: 100px;
    margin: 15% 0 5% 0;
    color: $clr_primary;
    background-color: white;
    padding: 2%;
    box-shadow: 1px 1px 10px $clr_tertiary;

    @media screen and (max-width: 992px) {
      margin: 15% 1% 20% 20%;
      width: 200px;
    }

    @media screen and (max-width: 768px) {
      margin: 10% 1% 0 5%;
      width: 200px;
    }

    &_btn {
      @media screen and (max-width: 768px) {
        margin: 10% 1% 0 5%;
        width: 200px;
      }
    }
  }

  .fa-spinner {
    position: absolute;
    top: 40%;
    left: 49%;
    font-size: 1.5rem;
    color: $clr_primary;
  }
}
