.log-container {
  margin: 2% 25% auto 25%;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 992px) {

  }
  @media screen and (max-width: 768px) {

  }
}

.connection_form {
  display: flex;
  border: 2px solid $clr_tertiary;
  box-shadow: 1px 1px 10px $clr_secondary;
  border-radius: 20px;
  width: 700px;
  height: auto;
  padding: 20px;
  align-items: center;
  text-align: center;

  @media screen and (max-width: 992px) {
    min-width: 600px;

  }
  @media screen and (max-width: 768px) {
    min-width: 200px;
    flex-direction: column;
    margin: 20% 1% 0 5%;
    padding: 10%;
  }

  &_container {
    margin-right: 15%;

    @media screen and (max-width: 992px) {
    }
    @media screen and (max-width: 768px) {
      margin: 5%;
    }
  }

  &_btn {
    & > #signin {
      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }
    & > #signup {
      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }
    &_submit {
      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }
  }

  &_logo {
    width: 150px;
    margin-top: 10%;
  }
}
