.post_form {
  width: 90%;
  height: auto;
  margin: 2% 0 0 5%;
  padding: 20px;
  border: 2px solid $clr_tertiary;
  border-radius: 20px;
  box-shadow: 2px 2px 5px $clr_tertiary;
  position: relative;
  top: 50%;
  background-color: $clr_secondary;
  list-style-type: none;
  border-radius: 20px 20px 6px 20px;

  @media screen and (max-width: 992px) {
    width: 85%;
  }

  @media screen and (max-width: 768px) {
    width: 75%;
    margin: 5% 20% 5% 10%;
  }

  &_data_pic {
    display: flex;
    width: 200px;
    height: 150px;
    border-radius: 20px;
    float: left;
    margin: 2%;

    @media screen and (max-width: 768px) {
      width: 75%;
      height: 75%;
      margin: 5% 20% 5% 10%;
    }

  }

  &_bio {
    color: $clr_primary;
    font-size: 20px;

    @media screen and (max-width: 768px) {
      visibility: hidden;
    }
  }

  &_container {
    margin: 2%;
    word-wrap: break-word;

    &_content {
      width: auto;
      height: auto;

      & > p {
        margin-left: 1%;
      }
    }

    &_content_data {
      height: auto;
      font-size: 12px;
      word-wrap: break-word;
      margin-left: 1%;
    }

    &_content_data_email {
      font-size: 12px;
    }

    &_data_post_pic {
      width: 200px;
      height: 150px;
      margin: 1%;

      @media screen and (max-width: 992px) {
        width: 85%;
        height: 65%;
      }

      @media screen and (max-width: 768px) {
        width: 75%;
        height: 50%;
      }
    }

    &_prev {
      background-color: white;
      border-radius: 15px;
      margin-top: 2%;
      padding: 1%;
      display: flex;
      justify-content: space-around;
      width: 80%;
      height: auto;

      word-break: break-all;

      @media screen and (max-width: 992px) {
      }

      @media screen and (max-width: 768px) {
      }
    }

    & > textarea {
      height: 62px;
      width: 90%;
      font-size: 15px;
      padding: 12px 15px;
      border-radius: 20px 20px 6px 20px;
    }

    &_data_pic_prev {
      width: 200px;
      height: 150px;
      border-radius: 5px;
      margin: 1%;

      @media screen and (max-width: 992px) {
        width: 75px;
        height: 55px;
      }

      @media screen and (max-width: 768px) {
        width: 70px;
        height: 50px;
      }
    }

    &_btn {
      display: flex;
      font-size: 15px;
      @media screen and (max-width: 992px) {
      }

      @media screen and (max-width: 768px) {
        justify-content: flex-end;
        font-size: 12px;
        height: 10px;
        margin: 0;
        
      }
    }

    &_footer {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 100%;
      
      &_file_upload{
        margin-left: -100%;
      }

      &_icon {
        position: relative;
        margin-left: 5%;
        cursor: pointer;
        width: 50px;
        height: 50px;

        & > img {
          margin-top: 2%;
          height: 40px;
        }

        & > button {
          width: 190px;
          padding: 10px 20px;
          background: white;
          transition: 0.2s;
        }

        & > input {
          width: 50px;
          height: 50px;
          position: absolute;
          opacity: 0;
          cursor: pointer;

          &::-webkit-file-upload-button {
            cursor: pointer;
          }
        }
      }
    }
  }
}
#message {
  margin: 1%;
}
#update-message{
  margin: 0;
}
